



@media only screen and (max-width: 500px) {
    .messageContent{
        max-width: 90%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
  }
  
  /* Media query for laptops/desktops */
  @media only screen and (min-width: 500px) {
    .messageContent{
        max-width: 80%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        
    }
  }



.chatInfo{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
    background-color: rgba(14, 13, 13, 0.559);
    backdrop-filter: blur(30px);

}
.arrow{
    font-size: 30px;
}

.arrow:hover{
    cursor: pointer;
}

.chatIcons{
    display: flex;
    gap: 10px;
}








/* messages ------------------------------------------------*/

.messages{
    height: 100%;
    padding: 10px;
    height: calc(100% - 160px );
    overflow-y: scroll;
   
}

.messages::-webkit-scrollbar {
    width: 0; /* Remove the scrollbar width */
  }

.msginput{
    height: 30px;
    background-color: rgba(108, 109, 111, 0.344);
    border-radius: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.owner .messageinfo {
    align-self: flex-end; /* Align messageinfo to the right for owner's messages */
    position: relative;
    top: 0%;
}

.inputin{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 16px;
}

.inputin::placeholder{
    font-size: 17px;
    color: rgb(107, 98, 98);
}

.send{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sendbutton{
    text-align: center;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    background-color: rgba(53, 53, 122, 0.356);
}

.sendbutton:hover {
background-color: rgb(53, 58, 101);
}







/* message -----------------------------------------------------*/


.message{
    display: flex;
    gap: 20px;
}
.owner {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
}
 .messageinfo{
    display: flex;
    color: gray;
    font-weight: 300;
    flex-direction: column;
}
.messageinfo > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.message p{

    background-color: rgba(252, 248, 248, 0.241);
    backdrop-filter: blur(2px);
    color: white;   
    padding: 10px 15px;
    width: 100%;
    border-radius: 0px 10px 10px 10px;
    word-wrap: break-word;
    white-space: normal;
}
.messageContent > img {
    width: 50%;
}

.owner > .messageContent{
    align-items: flex-end;
    max-width:100px;
}
.message > .messageContent{
    max-width:100px ;
}

.time{
    color: rgba(255, 255, 255, 0.775);
}

.owner p{
    background-color: rgba(252, 248, 248, 0.241);
    backdrop-filter: blur(2px);
    color: white;
    padding: 10px 15px;
    border-radius: 10px 0px 10px 10px;
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}

.owner .messageinfo {
    align-items: flex-end;
}

.previewimg{
    object-fit: cover;
    width: 35px;
    height: 35px;
}