
/* navbar style */


@media only screen and (max-width: 500px) {
    .navlogo{
       display: none;
    }

    .logout-button{
        background-color: rgb(6, 6, 6);
        color: whitesmoke;
        
        font-size: 5px;
        cursor: pointer;
        position: relative;
        right: 0px;
        border: 1px rgba(36, 46, 114, 0.558) solid;

    }   
  }
  
  /* Media query for laptops/desktops */
  @media only screen and (min-width: 500px) {
    .navlogo{
        font-weight: bold;
        font-family: 'Arial Black', sans-serif; /* Custom font for bold appearance */
         font-size: 25px; /* Adjust font size as needed */
         color: #ffffffc6; /* Font color */
        text-shadow: 3px 3px 2px rgb(60, 51, 128); 
    }
    .logout-button{
        background-color: rgba(78, 78, 122, 0.7);
        border: 1px rgba(36, 46, 114, 0.558) solid;
        border-radius: 50%;
        color: whitesmoke;
        font-size: 6.5px;
        cursor: pointer;
    }  
 
  }
  


.navbar{
    display: flex;
    align-items: center;
    height: 50px;
    padding: 10px;
    justify-content: space-between ;
    background-color: rgba(14, 13, 13, 0.559);
    backdrop-filter: blur(30px);
}



.user{
    display: flex;
    gap: 10px;
}

.profile-image{
    background-color: antiquewhite;
    position: relative;
    top:6px;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    object-fit: cover;
}
.chatlastmessage{
    width: 50px;
    overflow: hidden
}










/* Search Style */

.search{
    border-bottom: 1px solid gray ;
    backdrop-filter: blur(10px);
}
.SearchForm{
    display: flex;
    
}
.search-button{
    font-size: 25px;
}
.search-button:hover{
    cursor:pointer ;
}
.SearchFormInput{
    width: 90%;
    background-color: aquamarine;
    padding: 10px;
    font-size: 20px;
}

.chatss{
    overflow-y: auto;
    height: calc(100vh - 100px);
    
}
.chatss::-webkit-scrollbar {
    width: 0; /* Remove the scrollbar width */
  }
.userChat{
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
    cursor: pointer;
    border-bottom: 2px rgb(38, 38, 91) solid;
    backdrop-filter: blur(5px);

}

.userChat:hover{
    backdrop-filter: blur(30px);
    background-color: rgba(240, 248, 255, 0.105);
}

.userChatInfo > span{
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
}

.userChatInfo > p{
    margin-top: 5px;
font-size: 13px;
color: lightblue;
}


.SearchFormInput{
    background-color: transparent;
    border: none;
    color: white;
    outline: none;


}
.userChatImg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

/* .............................. */
.suserChat{
    padding: 4px;
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
    cursor: pointer;
    border-top: 1px rgb(38, 38, 91) solid;
    backdrop-filter: blur(2px);

}
.suserChat:hover{
    background-color: rgba(240, 248, 255, 0.155);
}

.suserChatImg{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.suserChatInfo > span{
    font-size: 18px;
    font-weight: 400;
    margin-top: 10px;
}

.ucm{
    max-height: 150px;
    overflow-y: scroll;
}
.ucm::-webkit-scrollbar {
    width: 0; /* Remove the scrollbar width */
  }










